@{
    ViewBag.Title = "Account Activation";
}

<div class="panel panel-success topmar-10">

    <div class="panel-heading"><span class="glyphicon glyphicon-ok"></span> Account Activation ! | @Html.ActionLink("User List", "UserList", "Role")</div>
    <div class="panel-body">
        <h4>
            Thank you for creating Account
        </h4>
        <h4>
            Account activation link sent to mail id, Please request him/her to confirm same by clicking activation link
        </h4>
        <h4>Please tell him/her to check spam mail if not found in inbox</h4>
    </div>
   
</div>
