
@{
    ViewBag.Title = "Thank you";
}

<ul class="nav nav-tabs">
    <li role="presentation" class="active">
        <a href="#">
            <span class="glyphicon glyphicon-ok"></span> Thank you !
        </a>
    </li>
</ul>

<div>
    <h4>
        Thank you for contacting us
    </h4>
    <h4>
        Our support team will look this message and revert you quickely.
    </h4>
</div>
