@{
    ViewBag.Title = "Import";
}

@using (Html.BeginForm("ImportLeads", "PotentialAccount", FormMethod.Post, new { id = "newtask", enctype = "multipart/form-data" }))
{
    <h3>Please selcect comma delimited csv file only</h3>
    <p><a href="../../Upload/ImportLeads.xlsx">Download File Format</a></p>
    
    <input type="file" name="imageFile" />
    <input type="submit" value="Upload" />
}

